## Starting Off

Run the cell of code below which imports a json file and then loads it into python. Investigate the resulting `data` variable and learn all you can about the object.

In [4]:
import json
f = open('data.json')
data = json.load(f)

# Using APIs and JSON Data

## Objectives
You will be able to:
* Access and manipulate data inside a JSON file
* Pull data from an API and parse/transform the data

## Agenda

* Review JSON Schemas
* Introduce APIs.
* Walk through how to make an API request. 
* Practice making API requests and Parsing the data.

### What is the difference between a JSON and a python dictionary?

## Loading the JSON file

As before, we begin by importing the json package, opening a file with python's built in function, and then loading that data in.

In [5]:
import json
f = open('data.json')
data = json.load(f)

## Exploring JSON Schemas  

Recall that JSON files have a nested structure. The most granular level of raw data will be individual numbers (float/int) and strings. These in turn will be stored in the equivalent of python lists and dictionaries. Because these can be combined, we'll start exploring by checking the type of our root object, and start mapping out the hierarchy of the json file.

In [6]:
type(data)

dict

In [7]:
data

{'businesses': [{'id': 'hYWsMDz0ms7TOnFTcsxYcw',
   'alias': 'manolis-ice-cream-pastries-and-cakes-austin',
   'name': 'Manolis Ice Cream, Pastries, & Cakes',
   'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/aAmOnvITNNjs04XnKFvSGw/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/manolis-ice-cream-pastries-and-cakes-austin?adjust_creative=F3qypMKtTmS20ke5XNx-Sg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=F3qypMKtTmS20ke5XNx-Sg',
   'review_count': 156,
   'categories': [{'alias': 'desserts', 'title': 'Desserts'},
    {'alias': 'icecream', 'title': 'Ice Cream & Frozen Yogurt'},
    {'alias': 'bakeries', 'title': 'Bakeries'}],
   'rating': 5.0,
   'coordinates': {'latitude': 30.24441, 'longitude': -97.75808},
   'transactions': ['pickup'],
   'price': '$',
   'location': {'address1': '603 W Live Oak St',
    'address2': None,
    'address3': '',
    'city': 'Austin',
    'zip_code': '78704',
    'country': 'US',
    'state': 'TX',
    'display_address': ['603 W Live Oak St', 'Austin, TX 78704']},
   'phone': '+15123875045',
   'display_phone': '(512) 387-5045',
   'distance': 6759.193628660178},
  {'id': 'rfqq-rHTTipS5XSuOhxCXg',
   'alias': 'dolce-neve-austin',
   'name': 'Dolce Neve',
   'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/1DgEa_pgroGWjQeZasXo-Q/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/dolce-neve-austin?adjust_creative=F3qypMKtTmS20ke5XNx-Sg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=F3qypMKtTmS20ke5XNx-Sg',
   'review_count': 543,
   'categories': [{'alias': 'gelato', 'title': 'Gelato'},
    {'alias': 'icecream', 'title': 'Ice Cream & Frozen Yogurt'},
    {'alias': 'coffee', 'title': 'Coffee & Tea'}],
   'rating': 4.5,
   'coordinates': {'latitude': 30.247625, 'longitude': -97.755404},
   'transactions': [],
   'price': '$',
   'location': {'address1': '1713 S 1st St',
    'address2': '',
    'address3': '',
    'city': 'Austin',
    'zip_code': '78704',
    'country': 'US',
    'state': 'TX',
    'display_address': ['1713 S 1st St', 'Austin, TX 78704']},
   'phone': '+15128045568',
   'display_phone': '(512) 804-5568',
   'distance': 6401.051305407798},
  {'id': 'TeVBtbf3Z8TC_wgddPWH7A',
   'alias': 'scoop-and-score-cedar-park-4',
   'name': 'Scoop & Score',
   'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/cbKYHyRn7FpveylAPX7VgA/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/scoop-and-score-cedar-park-4?adjust_creative=F3qypMKtTmS20ke5XNx-Sg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=F3qypMKtTmS20ke5XNx-Sg',
   'review_count': 130,
   'categories': [{'alias': 'coffee', 'title': 'Coffee & Tea'},
    {'alias': 'icecream', 'title': 'Ice Cream & Frozen Yogurt'}],
   'rating': 5.0,
   'coordinates': {'latitude': 30.5183617420555,
    'longitude': -97.7906447595262},
   'transactions': ['pickup', 'delivery'],
   'price': '$',
   'location': {'address1': '111 N Vista Ridge Blvd',
    'address2': 'Ste 202',
    'address3': '',
    'city': 'Cedar Park',
    'zip_code': '78613',
    'country': 'US',
    'state': 'TX',
    'display_address': ['111 N Vista Ridge Blvd',
     'Ste 202',
     'Cedar Park, TX 78613']},
   'phone': '+15123875383',
   'display_phone': '(512) 387-5383',
   'distance': 23916.645362565087},
  {'id': 'YVdTl-VERcOig4MP1264Rw',
   'alias': 'sweet-ritual-austin',
   'name': 'Sweet Ritual',
   'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/6T0WLO2XvcrGkXSJgjL10Q/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/sweet-ritual-austin?adjust_creative=F3qypMKtTmS20ke5XNx-Sg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=F3qypMKtTmS20ke5XNx-Sg',
   'review_count': 509,
   'categories': [{'alias': 'vegan', 'title': 'Vegan'},
    {'alias': 'icecream', 'title': 'Ice Cream & Frozen Yogurt'}],
   'rating': 4.5,
   'coordinates': {'latitude': 30.30608, 'longitude': -97.71523},
   'transactions': [],
   'price': '$',
   'location': {'address1': '4631 Airport Blvd',
    'address2': 'Ste 114',
    'address3': '',
    'city': 'Austin',
    'zip_code': '78751',
    'country': 'US',
    'state': 'TX',
    'display_address': ['4631 Airport Blvd', 'Ste 114', 'Austin, TX 78751']},
   'phone': '+15126668346',
   'display_phone': '(512) 666-8346',
   'distance': 4096.235786081973},
  {'id': 'Qt92iz7b_3v_0BDGT0TLSA',
   'alias': 'churro-co-austin-6',
   'name': 'Churro Co',
   'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/vaN49zFjUuHUXd4EUbB-bA/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/churro-co-austin-6?adjust_creative=F3qypMKtTmS20ke5XNx-Sg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=F3qypMKtTmS20ke5XNx-Sg',
   'review_count': 278,
   'categories': [{'alias': 'desserts', 'title': 'Desserts'},
    {'alias': 'foodtrucks', 'title': 'Food Trucks'}],
   'rating': 4.5,
   'coordinates': {'latitude': 30.24602, 'longitude': -97.75695},
   'transactions': [],
   'price': '$',
   'location': {'address1': '1906 South 1st St',
    'address2': None,
    'address3': '',
    'city': 'Austin',
    'zip_code': '78704',
    'country': 'US',
    'state': 'TX',
    'display_address': ['1906 South 1st St', 'Austin, TX 78704']},
   'phone': '+15129055267',
   'display_phone': '(512) 905-5267',
   'distance': 6573.989627564328}],
 'total': 1400,
 'region': {'center': {'longitude': -97.75772094726562,
   'latitude': 30.305156315977833}}}

As you can see, in this case, the first level of the hierarchy is a dictionary. Let's explore what keys are within this:

In [8]:
data.keys()

dict_keys(['businesses', 'total', 'region'])

In this case, there is only a single key, 'albums', so we'll continue on down the pathway exploring and mapping out the hierarchy. Once again, let's start by checking the type of this nested data structure.

In [10]:
type(data['businesses'])

list

Now we have a list of within a dictionary. Once again, let's investigate what's within this list (JSON calls the equivalent of Python dictionaries Objects.)

In [17]:
data['businesses'][0]

{'id': 'hYWsMDz0ms7TOnFTcsxYcw',
 'alias': 'manolis-ice-cream-pastries-and-cakes-austin',
 'name': 'Manolis Ice Cream, Pastries, & Cakes',
 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/aAmOnvITNNjs04XnKFvSGw/o.jpg',
 'is_closed': False,
 'url': 'https://www.yelp.com/biz/manolis-ice-cream-pastries-and-cakes-austin?adjust_creative=F3qypMKtTmS20ke5XNx-Sg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=F3qypMKtTmS20ke5XNx-Sg',
 'review_count': 156,
 'categories': [{'alias': 'desserts', 'title': 'Desserts'},
  {'alias': 'icecream', 'title': 'Ice Cream & Frozen Yogurt'},
  {'alias': 'bakeries', 'title': 'Bakeries'}],
 'rating': 5.0,
 'coordinates': {'latitude': 30.24441, 'longitude': -97.75808},
 'transactions': ['pickup'],
 'price': '$',
 'location': {'address1': '603 W Live Oak St',
  'address2': None,
  'address3': '',
  'city': 'Austin',
  'zip_code': '78704',
  'country': 'US',
  'state': 'TX',
  'display_address': ['603 W Live Oak St', 'Austin, TX 78704']},
 'phone': '+15123875045',
 'display_phone': '(512) 387-5045',
 'distance': 6759.193628660178}

In [16]:
data['businesses'][0].keys()

dict_keys(['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance'])

At this point, you also probably have a good idea of the general structure of the json file. However, there is still a lot more we could investigate further:

## What is an API?

**Application Program Interfaces**, or APIs, are commonly used to retrieve data from remote websites. Sites like Reddit, Twitter, and Facebook all offer certain data through their APIs. 

To use an API, you make a request to a remote web server, and retrieve the data you need.

Python with two built-in modules, `urllib` and `urllib2` to handle these requests but these could be very confusing  and the documentation is not clear.

To make these things simpler, one easy-to-use third-party library, known as` Requests`, is what most developers prefer to use it instead or urllib/urllib2. With this library, you can access content like web page headers, form data, files, and parameters via simple Python commands. It also allows you to access the response data in a simple way.

![](logo.png)

Below is how you would install and import the requests library before making any requests. 
```python
# Uncomment and install requests if you dont have it already
# !pip install requests

# Import requests to working environment
import requests
```

In [7]:
import requests


## The `.get()` Method

Now we have requests library ready in our working environment, we can start making some requests using the `.get()` method as shown below:


We can use a simple GET request to retrieve information from the OpenNotify API.




OpenNotify has several API endpoints. An endpoint is a server route that is used to retrieve different data from the API. For example, the /comments endpoint on the Reddit API might retrieve information about comments, whereas the /users endpoint might retrieve data about users. To access them, you would add the endpoint to the base url of the API.

In [8]:
# Make a get request to get the latest position of the international space station from the opennotify api.
response = requests.get("https://data.cityofnewyork.us/resource/nb39-jx2v.json")
# Print the status code of the response.
print(response.status_code)

200


GET is by far the most used HTTP method. We can use GET request to retrieve data from any destination. 
GET is by far the most used HTTP method. We can use GET request to retrieve data from any destination. 

## Status Codes
The request we make may not be always successful. The best way is to check the status code which gets returned with the response. Here is how you would do this.

In [6]:
# Code here 
response.status_code == requests.codes.ok

True

So this is a good check to see if our request was successful. Depending on the status of the web server, the access rights of the clients and availibility of requested information. A web server may return a number of status codes within the response. Wikipedia has an exhaustive details on all these codes. [Check them out here](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)

### Common status codes

* 200 — everything went okay, and the result has been returned (if any)
* 301 — the server is redirecting you to a different endpoint. This can happen when a company switches domain names, or an endpoint name is changed.
* 401 — the server thinks you’re not authenticated. This happens when you don’t send the right credentials to access an API (we’ll talk about authentication in a later post).
* 400 — the server thinks you made a bad request. This can happen when you don’t send along the right data, among other things.
* 403 — the resource you’re trying to access is forbidden — you don’t have the right permissions to see it.
* 404 — the resource you tried to access wasn’t found on the server.

In [24]:
request2 = requests.get('http://api.open-notify.org/fake-endpoint')
print(request2.status_code)

404

### Hitting the right endpoint
iss-pass wasn’t a valid endpoint, so we got a 404 status code in response. We forgot to add `.json` at the end, as the API documentation states.

We’ll now make a GET request to http://api.open-notify.org/iss-pass.json.


## Response Contents
Once we know that our request was successful and we have a valid response, we can check the returned information using `.text` property of the response object. 
```python
print (resp.text)
```

In [ ]:
# https://data.cityofnewyork.us/resource/3mrr-8h5c.json
# https://data.cityofnewyork.us/resource/nb39-jx2v.json

In [12]:
dat = requests.get('https://data.cityofnewyork.us/resource/nb39-jx2v.json')
# print(type(dat))
json_data = json.loads(dat.text)
len(json_data)
# pd.DataFrame.from_dict()

1000

In [25]:
pip install sodapy

Collecting sodapy
  Downloading https://files.pythonhosted.org/packages/ae/e9/99b640c13544f03fc8d169fc99811d834a0d69ba5a69c68a3e891962ae5d/sodapy-1.5.4-py2.py3-none-any.whl
Requirement already satisfied: future>=0.17.1 in /Users/flatironschool/anaconda3/lib/python3.7/site-packages (from sodapy) (0.17.1)
Requirement already satisfied: requests>=2.20.0 in /Users/flatironschool/anaconda3/lib/python3.7/site-packages (from sodapy) (2.21.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/flatironschool/anaconda3/lib/python3.7/site-packages (from requests>=2.20.0->sodapy) (2019.3.9)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /Users/flatironschool/anaconda3/lib/python3.7/site-packages (from requests>=2.20.0->sodapy) (1.24.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/flatironschool/anaconda3/lib/python3.7/site-packages (from requests>=2.20.0->sodapy) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /Users/flatironschool/anaconda3/lib/python3.7/site-packages (from requests>=2.20.0->sodapy) (2.8)
Installing collected packages: sodapy
Successfully installed sodapy-1.5.4
Note: you may need to restart the kernel to use updated packages.

In [29]:
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cityofnewyork.us", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.cityofnewyork.us,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("nb39-jx2v", limit = 2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [30]:
results_df

,advanced_regents,advanced_regents_of_cohort,advanced_regents_of_grads,cohort,cohort_year,dbn,demographic_category,demographic_variable,dropped_out,dropped_out_of_cohort,...,regents_w_o_advanced_of_grads,school_name,still_enrolled,still_enrolled_of_cohort,total_cohort,total_grads,total_grads_of_cohort,total_regents,total_regents_of_cohort,total_regents_of_grads
0,0,0.0,0.0,4 year August,2013,01M292,All Students,All Students,7,19.4,...,92.0,ORCHARD COLLEGIATE ACADEMY,3,8.3,36,25,69.4,23,63.9,92.0
1,1,2.3,4.2,4 year August,2012,01M292,All Students,All Students,10,22.7,...,79.2,ORCHARD COLLEGIATE ACADEMY,10,22.7,44,24,54.5,20,45.5,83.3
2,0,0.0,0.0,4 year August,2011,01M292,All Students,All Students,7,9.6,...,89.1,ORCHARD COLLEGIATE ACADEMY,18,24.7,73,46,63.0,41,56.2,89.1
3,1,1.6,3.8,4 year August,2010,01M292,All Students,All Students,17,27.9,...,96.2,ORCHARD COLLEGIATE ACADEMY,18,29.5,61,26,42.6,26,42.6,100.0
4,0,0.0,0.0,4 year August,2009,01M292,All Students,All Students,8,9.4,...,89.8,ORCHARD COLLEGIATE ACADEMY,28,32.9,85,49,57.6,44,51.8,89.8
5,0,0.0,0.0,4 year August,2008,01M292,All Students,All Students,13,18.6,...,83.3,ORCHARD COLLEGIATE ACADEMY,18,25.7,70,36,51.4,30,42.9,83.3
6,0,0.0,0.0,4 year August,2007,01M292,All Students,All Students,5,6.5,...,64.4,ORCHARD COLLEGIATE ACADEMY,22,28.6,77,45,58.4,29,37.7,64.4
7,0,0.0,0.0,4 year August,2006,01M292,All Students,All Students,11,14.1,...,84.1,ORCHARD COLLEGIATE ACADEMY,15,19.2,78,44,56.4,37,47.4,84.1
8,0,0.0,0.0,4 year August,2005,01M292,All Students,All Students,9,14.1,...,61.4,ORCHARD COLLEGIATE ACADEMY,8,12.5,64,44,68.8,27,42.2,61.4
9,0,0.0,0.0,4 year June,2013,01M292,All Students,All Students,7,19.4,...,95.8,ORCHARD COLLEGIATE ACADEMY,4,11.1,36,24,66.7,23,63.9,95.8
10,1,2.3,4.3,4 year June,2012,01M292,All Students,All Students,10,22.7,...,78.3,ORCHARD COLLEGIATE ACADEMY,11,25.0,44,23,52.3,19,43.2,82.6
11,0,0.0,0.0,4 year June,2011,01M292,All Students,All Students,7,9.6,...,89.1,ORCHARD COLLEGIATE ACADEMY,18,24.7,73,46,63.0,41,56.2,89.1
12,1,1.6,4.2,4 year June,2010,01M292,All Students,All Students,17,27.9,...,95.8,ORCHARD COLLEGIATE ACADEMY,20,32.8,61,24,39.3,24,39.3,100.0
13,0,0.0,0.0,4 year June,2009,01M292,All Students,All Students,8,9.4,...,89.4,ORCHARD COLLEGIATE ACADEMY,30,35.3,85,47,55.3,42,49.4,89.4
14,0,0.0,0.0,4 year June,2008,01M292,All Students,All Students,13,18.6,...,82.9,ORCHARD COLLEGIATE ACADEMY,19,27.1,70,35,50.0,29,41.4,82.9
15,0,0.0,0.0,4 year June,2007,01M292,All Students,All Students,5,6.5,...,68.3,ORCHARD COLLEGIATE ACADEMY,25,32.5,77,41,53.2,28,36.4,68.3
16,0,0.0,0.0,4 year June,2006,01M292,All Students,All Students,11,14.1,...,83.7,ORCHARD COLLEGIATE ACADEMY,16,20.5,78,43,55.1,36,46.2,83.7
17,0,0.0,0.0,4 year June,2005,01M292,All Students,All Students,9,14.1,...,62.8,ORCHARD COLLEGIATE ACADEMY,9,14.1,64,43,67.2,27,42.2,62.8
18,0,0.0,0.0,4 year June,2004,01M292,All Students,All Students,3,5.5,...,45.9,ORCHARD COLLEGIATE ACADEMY,15,27.3,55,37,67.3,17,30.9,45.9
19,0,0.0,NaN,4 year June,2003,01M292,All Students,All Students,1,20.0,...,NaN,ORCHARD COLLEGIATE ACADEMY,4,80.0,5,0,0.0,0,0.0,NaN
20,1,2.4,3.6,5 year August,2012,01M292,All Students,All Students,12,29.3,...,75.0,ORCHARD COLLEGIATE ACADEMY,1,2.4,41,28,68.3,22,53.7,78.6
21,0,0.0,0.0,5 year August,2011,01M292,All Students,All Students,14,20.6,...,87.5,ORCHARD COLLEGIATE ACADEMY,6,8.8,68,48,70.6,42,61.8,87.5
22,1,1.8,3.6,5 year August,2010,01M292,All Students,All Students,18,32.7,...,92.9,ORCHARD COLLEGIATE ACADEMY,7,12.7,55,28,50.9,27,49.1,96.4
23,0,0.0,0.0,5 year August,2009,01M292,All Students,All Students,15,18.3,...,87.7,ORCHARD COLLEGIATE ACADEMY,10,12.2,82,57,69.5,50,61.0,87.7
24,0,0.0,0.0,5 year August,2008,01M292,All Students,All Students,12,17.6,...,85.0,ORCHARD COLLEGIATE ACADEMY,13,19.1,68,40,58.8,34,50.0,85.0
25,0,0.0,0.0,5 year August,2007,01M292,All Students,All Students,16,20.8,...,58.8,ORCHARD COLLEGIATE ACADEMY,2,2.6,77,51,66.2,30,39.0,58.8
26,0,0.0,0.0,5 year August,2006,01M292,All Students,All Students,19,26.8,...,81.8,ORCHARD COLLEGIATE ACADEMY,0,0.0,71,44,62.0,36,50.7,81.8
27,1,2.4,3.6,5 year June,2012,01M292,All Students,All Students,12,29.3,...,75.0,ORCHARD COLLEGIATE ACADEMY,1,2.4,41,28,68.3,22,53.7,78.6
28,0,0.0,0.0,5 year June,2011,01M292,All Students,All Students,14,20.6,...,87.5,ORCHARD COLLEGIATE ACADEMY,6,8.8,68,48,70.6,42,61.8,87.5
29,1,1.8,3.6,5 year June,2010,01M292,All Students,All Students,18,32.7,...,92.9,ORCHARD COLLEGIATE ACADEMY,7,12.7,55,28,50.9,27,49.1,96.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1970,71,71.0,71.0,5 year June,2008,02M439,All Students,All Students,0,0.0,...,28.0,MANHATTAN VILLAGE ACADEMY,0,0.0,100,100,100.0,99,99.0,99.0
1971,48,53.3,54.5,5 year June,2007,02M439,All Students,All Students,0,0.0,...,43.2,MANHATTAN VILLAGE ACADEMY,0,0.0,90,88,97.8,86,95.6,97.7
1972,45,40.9,41.7,5 year June,2006,02M439,All Students,All Students,0,0.0,...,56.5,MANHATTAN VILLAGE ACADEMY,0,0.0,110,108,98.2,106,96.4,98.1
1973,17,23.0,23.0,5 year June,2005,02M439,All Students,All Students,0,0.0,...,68.9,MANHATTAN VILLAGE ACADEMY,0,0.0,74,74,100.0,68,91.9,91.9
1974,7,8.1,8.8,5 year June,2004,02M439,All Students,All Students,4,4.7,...,71.3,MANHATTAN VILLAGE ACADEMY,1,1.2,86,80,93.0,64,74.4,80.0
1975,3,3.5,3.7,5 year June,2003,02M439,All Students,All Students,2,2.3,...,67.9,MANHATTAN VILLAGE ACADEMY,0,0.0,86,81,94.2,58,67.4,71.6
1976,0,0.0,0.0,5 year June,2002,02M439,All Students,All Students,2,2.5,...,74.2,MANHATTAN VILLAGE ACADEMY,6,7.5,80,66,82.5,49,61.3,74.2
1977,0,0.0,0.0,5 year June,2001,02M439,All Students,All Students,2,3.2,...,59.6,MANHATTAN VILLAGE ACADEMY,0,0.0,63,57,90.5,34,54.0,59.6
1978,76,95.0,96.2,6 year June,2011,02M439,All Students,All Students,0,0.0,...,2.5,MANHATTAN VILLAGE ACADEMY,0,0.0,80,79,98.8,78,97.5,98.7
1979,98,86.0,86.0,6 year June,2010,02M439,All Students,All Students,0,0.0,...,13.2,MANHATTAN VILLAGE ACADEMY,0,0.0,114,114,100.0,113,99.1,99.1
1980,93,82.3,82.3,6 year June,2009,02M439,All Students,All Students,0,0.0,...,17.7,MANHATTAN VILLAGE ACADEMY,0,0.0,113,113,100.0,113,100.0,100.0
1981,71,71.0,71.0,6 year June,2008,02M439,All Students,All Students,0,0.0,...,28.0,MANHATTAN VILLAGE ACADEMY,0,0.0,100,100,100.0,99,99.0,99.0
1982,48,53.3,54.5,6 year June,2007,02M439,All Students,All Students,0,0.0,...,43.2,MANHATTAN VILLAGE ACADEMY,0,0.0,90,88,97.8,86,95.6,97.7
1983,45,40.2,41.7,6 year June,2006,02M439,All Students,All Students,0,0.0,...,56.5,MANHATTAN VILLAGE ACADEMY,2,1.8,112,108,96.4,106,94.6,98.1
1984,17,23.0,23.0,6 year June,2005,02M439,All Students,All Students,0,0.0,...,68.9,MANHATTAN VILLAGE ACADEMY,0,0.0,74,74,100.0,68,91.9,91.9
1985,7,8.1,8.8,6 year June,2004,02M439,All Students,All Students,4,4.7,...,71.3,MANHATTAN VILLAGE ACADEMY,1,1.2,86,80,93.0,64,74.4,80.0
1986,3,3.4,3.7,6 year June,2003,02M439,All Students,All Students,2,2.3,...,67.9,MANHATTAN VILLAGE ACADEMY,0,0.0,87,81,93.1,58,66.7,71.6
1987,0,0.0,0.0,6 year June,2002,02M439,All Students,All Students,3,3.8,...,73.5,MANHATTAN VILLAGE ACADEMY,0,0.0,80,68,85.0,50,62.5,73.5
1988,0,0.0,0.0,6 year June,2001,02M439,All Students,All Students,2,3.2,...,59.6,MANHATTAN VILLAGE ACADEMY,0,0.0,63,57,90.5,34,54.0,59.6
1989,0,0.0,0.0,4 year August,2008,02M440,All Students,All Students,51,28.7,...,93.5,BAYARD RUSTIN EDUCATIONAL COMPLEX,49,27.5,178,62,34.8,58,32.6,93.5
1990,7,2.4,6.3,4 year August,2007,02M440,All Students,All Students,82,28.1,...,44.6,BAYARD RUSTIN EDUCATIONAL COMPLEX,87,29.8,292,112,38.4,57,19.5,50.9
1991,8,2.2,4.7,4 year August,2006,02M440,All Students,All Students,68,18.6,...,43.3,BAYARD RUSTIN EDUCATIONAL COMPLEX,100,27.4,365,171,46.8,82,22.5,48.0
1992,10,2.5,4.3,4 year August,2005,02M440,All Students,All Students,55,13.8,...,33.8,BAYARD RUSTIN EDUCATIONAL COMPLEX,93,23.3,400,234,58.5,89,22.3,38.0
1993,0,0.0,0.0,4 year June,2008,02M440,All Students,All Students,51,28.7,...,93.5,BAYARD RUSTIN EDUCATIONAL COMPLEX,49,27.5,178,62,34.8,58,32.6,93.5
1994,7,2.4,8.3,4 year June,2007,02M440,All Students,All Students,83,28.4,...,54.8,BAYARD RUSTIN EDUCATIONAL COMPLEX,114,39.0,292,84,28.8,53,18.2,63.1
1995,8,2.2,5.8,4 year June,2006,02M440,All Students,All Students,68,18.6,...,46.8,BAYARD RUSTIN EDUCATIONAL COMPLEX,132,36.2,365,139,38.1,73,20.0,52.5
1996,10,2.5,4.9,4 year June,2005,02M440,All Students,All Students,55,13.8,...,36.8,BAYARD RUSTIN EDUCATIONAL COMPLEX,123,30.8,400,204,51.0,85,21.3,41.7
1997,19,4.6,9.5,4 year June,2004,02M440,All Students,All Students,78,18.7,...,17.4,BAYARD RUSTIN EDUCATIONAL COMPLEX,129,30.9,417,201,48.2,54,12.9,26.9
1998,16,3.9,12.2,4 year June,2003,02M440,All Students,All Students,92,22.6,...,19.1,BAYARD RUSTIN EDUCATIONAL COMPLEX,175,43.0,407,131,32.2,41,10.1,31.3
1999,34,6.7,16.2,4 year June,2002,02M440,All Students,All Students,88,17.3,...,32.4,BAYARD RUSTIN EDUCATIONAL COMPLEX,195,38.2,510,210,41.2,102,20.0,48.6

### Query parameters

If you look at the documentation for the OpenNotify API, we see that the ISS Pass endpoint requires two parameters.

We can do this by adding an optional keyword argument, params, to our request. In this case, there are two parameters we need to pass:

* lat — The latitude of the location we want.
* lon — The longitude of the location we want.
We can make a dictionary with these parameters, and then pass them into the requests.get function.

We can also do the same thing directly by adding the query parameters to the url, like this: http://api.open-notify.org/iss-pass.json?lat=40.71&lon=-74.

It’s almost always preferable to setup the parameters as a dictionary, because requests takes care of some things that come up, like properly formatting the query parameters.

We’ll make a request using the coordinates of New York City, and see what response we get.

In [29]:
# Set up the parameters we want to pass to the API.
# This is the latitude and longitude of New York City.
parameters = {"lat": 40.71, "lon": -74}


# Make a get request with the parameters.
response = requests.get("http://api.open-notify.org/iss-pass.json", params=parameters)


# Print the content of the response (the data the server returned)
print(response.content)

b'{\n  "message": "success", \n  "request": {\n    "altitude": 100, \n    "datetime": 1564059528, \n    "latitude": 40.71, \n    "longitude": -74.0, \n    "passes": 5\n  }, \n  "response": [\n    {\n      "duration": 574, \n      "risetime": 1564090167\n    }, \n    {\n      "duration": 649, \n      "risetime": 1564095912\n    }, \n    {\n      "duration": 583, \n      "risetime": 1564101779\n    }, \n    {\n      "duration": 560, \n      "risetime": 1564107654\n    }, \n    {\n      "duration": 627, \n      "risetime": 1564113470\n    }\n  ]\n}\n'

Now we want to convert the response into a python data structure. We do this by using the `json` package.

In [32]:
json.loads(response.content)

{'message': 'success',
 'request': {'altitude': 100,
  'datetime': 1564059528,
  'latitude': 40.71,
  'longitude': -74.0,
  'passes': 5},
 'response': [{'duration': 574, 'risetime': 1564090167},
  {'duration': 649, 'risetime': 1564095912},
  {'duration': 583, 'risetime': 1564101779},
  {'duration': 560, 'risetime': 1564107654},
  {'duration': 627, 'risetime': 1564113470}]}

So this returns a lot of information which by default is not really human understandable due to data encoding, HTML tags and other styling information that only a web browser can truly translate. In later lessons we shall look at how we can use ** Regular Exprerssions**  to clean this information and extract the required bits and pieces for analysis. 

## Response Headers
The response of an HTTP request can contain many headers that holds different bits of information. We can use `.header` property of the response object to access the header information as shown below:

In [33]:
# Code here 
dict(response.headers)

{'Server': 'nginx/1.10.3',
 'Date': 'Thu, 25 Jul 2019 13:40:28 GMT',
 'Content-Type': 'application/json',
 'Content-Length': '519',
 'Connection': 'keep-alive',
 'Via': '1.1 vegur'}

The content of the headers is our required element. You can see the key-value pairs holding various pieces of  information about the resource and request. Let's try to parse some of these values using the requests library:

```python
print(resp.headers['Content-Length'])  # length of the response
print(resp.headers['Date'])  # Date the response was sent
print(resp.headers['server'])   # Server type (google web service - GWS)
```


## HTTP POST method 

Sometimes we need to send one or more files simultaneously to the server. For example, if a user is submitting a form and the form includes different fields for uploading files, like user profile picture, user resume, etc. Requests can handle multiple files on a single request. This can be achieved by putting the files to a list of tuples in the form (`field_name, file_info)`.


```python
import requests

url = 'http://httpbin.org/post'  
file_list = [  
    ('image', ('fi.png', open('fi.png', 'rb'), 'image/png')),
    ('image', ('fi2.jpeg', open('fi2.jpeg', 'rb'), 'image/png'))
]

r = requests.post(url, files=file_list)  
print(r.text)  
```

![](quota.png)


## Generating Access Tokens

As discussed, in order to use many APIs, one needs to use OAuth which requires an access token. As such, our first step will be to generate this login information so that we can start making some requests.  

With that, lets go grab an access token from an API site and make some API calls!
Point your browser over to this [yelp page](https://www.yelp.com/developers/v3/manage_app) and start creating an app in order to obtain and api access token:


![](./images/yelp_app.png)

You can either sign in to an existing Yelp account, or create a new one, if needed.

On the page you see above, simply fill out some sample information such as "Flatiron Edu API Example" for the app name, or whatever floats your boat. Afterwards, you should be presented with an API key that you can use to make requests!

With that, it's time to start making some api calls!

As a general rule of thumb, don't store passwords in a main file like this! Instead, you would normally store those passwords under a sub file like passwords.py which you would then import.

Or even better, as an environment variable that could then be imported!

In [35]:

client_id = 'bVX1Jsfp4dkIOqw5HOVplg' #Your client ID goes here (as a string)
api_key = 'RTzp-q-TgkJW_NFQogubFvZNRDziXyoR38VbtZMWibDI-FlvB25OE7GmafFEqhTL8_Bk2HlcX24-hRWLMP7Nc6WHO_VXMXldpPBjP0LoPv5EFFELMSI2oll8njhbXHYx' #Your api key goes here (as a string)

## An Example Request with OAuth <a id="oauth_request"></a>
https://www.yelp.com/developers/documentation/v3/get_started

In the next lesson, we'll further dissect how to read and translate online documentation like the link here. For now, let's simply look at an example request and dissect it into its consituent parts:

In [36]:
term = 'Mexican'
location = 'Astoria NY'
SEARCH_LIMIT = 10

url = 'https://api.yelp.com/v3/businesses/search'

headers = {
        'Authorization': 'Bearer {}'.format(api_key),
    }

url_params = {
                'term': term.replace(' ', '+'),
                'location': location.replace(' ', '+'),
                'limit': SEARCH_LIMIT
            }
response = requests.get(url, headers=headers, params=url_params)
print(response)
print(type(response.text))
print(response.text[:1000])

<Response [200]>
<class 'str'>
{"businesses": [{"id": "jzVv_21473lAMYXIhVbuTA", "alias": "de-mole-astoria-astoria", "name": "De Mole Astoria", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/zZTTfdIGbQkQQptgQmin1A/o.jpg", "is_closed": false, "url": "https://www.yelp.com/biz/de-mole-astoria-astoria?adjust_creative=bVX1Jsfp4dkIOqw5HOVplg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=bVX1Jsfp4dkIOqw5HOVplg", "review_count": 354, "categories": [{"alias": "mexican", "title": "Mexican"}], "rating": 4.0, "coordinates": {"latitude": 40.7625999, "longitude": -73.9129028}, "transactions": ["delivery", "pickup"], "price": "$$", "location": {"address1": "4220 30th Ave", "address2": "", "address3": "", "city": "Astoria", "zip_code": "11103", "country": "US", "state": "NY", "display_address": ["4220 30th Ave", "Astoria, NY 11103"]}, "phone": "+17187771655", "display_phone": "(718) 777-1655", "distance": 918.0927716406379}, {"id": "yvva7IYpD6J7OfKlCdQrkw", "alias": "mi-espiguita-taqueria-astoria", "na

## Breaking Down the Request

As you can see, there are three main parts to our request.  
  
They are:
* The url
* The header
* The parameters
  
The url is fairly straightforward and is simply the base url as described in the documentation (again more details in the upcoming lesson).

The header is a dictionary of key-value pairs. In this case, we are using a fairly standard header used by many APIs. It has a strict form where 'Authorization' is the key and 'Bearer YourApiKey' is the value.

The parameters are the filters which we wish to pass into the query. These will be embedded into the url when the request is made to the api. Similar to the header, they form key-value pairs. Valid key parameters by which to structure your queries, are described in the API documentation which we'll look at further shortly. A final important note however, is the need to replace spaces with "+". This is standard to many requests as URLs cannot contain spaces. (Note that the header itself isn't directly embedded into the url itself and as such, the space between 'Bearer' and YourApiKey is valid.)


## The Response

As before, our response object has both a status code, as well as the data itself. With that, let's start with a little data exploration!

In [37]:
response.json().keys()

dict_keys(['businesses', 'total', 'region'])

Now let's go a bit further and start to preview what's stored in each of the values for these keys.

In [38]:
for key in response.json().keys():
    print(key)
    value = response.json()[key] #Use standard dictionary formatting
    print(type(value)) #What type is it?
    print('\n\n') #Seperate out data

businesses
<class 'list'>



total
<class 'int'>



region
<class 'dict'>

Let's continue to preview these further to get a little better acquainted.

In [39]:
yelp_data =response.json()
yelp_data['businesses'][:2]

[{'id': 'jzVv_21473lAMYXIhVbuTA',
  'alias': 'de-mole-astoria-astoria',
  'name': 'De Mole Astoria',
  'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/zZTTfdIGbQkQQptgQmin1A/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/de-mole-astoria-astoria?adjust_creative=bVX1Jsfp4dkIOqw5HOVplg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=bVX1Jsfp4dkIOqw5HOVplg',
  'review_count': 354,
  'categories': [{'alias': 'mexican', 'title': 'Mexican'}],
  'rating': 4.0,
  'coordinates': {'latitude': 40.7625999, 'longitude': -73.9129028},
  'transactions': ['delivery', 'pickup'],
  'price': '$$',
  'location': {'address1': '4220 30th Ave',
   'address2': '',
   'address3': '',
   'city': 'Astoria',
   'zip_code': '11103',
   'country': 'US',
   'state': 'NY',
   'display_address': ['4220 30th Ave', 'Astoria, NY 11103']},
  'phone': '+17187771655',
  'display_phone': '(718) 777-1655',
  'distance': 918.0927716406379},
 {'id': 'yvva7IYpD6J7OfKlCdQrkw',
  'alias': 'mi-espiguita-taqueria-astoria',
  'name': 'Mi Espiguita Taqueria',
  'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/TEho39G01VJX05mNhI8W8A/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/mi-espiguita-taqueria-astoria?adjust_creative=bVX1Jsfp4dkIOqw5HOVplg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=bVX1Jsfp4dkIOqw5HOVplg',
  'review_count': 109,
  'categories': [{'alias': 'mexican', 'title': 'Mexican'}],
  'rating': 4.5,
  'coordinates': {'latitude': 40.7612033639422,
   'longitude': -73.9261436462402},
  'transactions': ['delivery', 'pickup'],
  'price': '$',
  'location': {'address1': '32-44 31st St',
   'address2': '',
   'address3': '',
   'city': 'Astoria',
   'zip_code': '11106',
   'country': 'US',
   'state': 'NY',
   'display_address': ['32-44 31st St', 'Astoria, NY 11106']},
  'phone': '+17187775648',
  'display_phone': '(718) 777-5648',
  'distance': 714.301080232381}]

As you can see, we're primarily interested in the 'bussinesses' entry.

## Summary <a id="sum"></a>

Congratulations! We've covered a lot here! We took some of your previous knowledge with HTTP requests and OAuth in order to leverage an enterprise API! Then we made some requests to retrieve information that came back as a json format. We then transformed this data into a dataframe using the Pandas package. In the next lab, we'll break down how to read API documentation and then put it all together to make a nifty map!